body {
  font-family: Roboto, "Courier New", Courier, monospace;

}

li a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.top {
  background-color: #1f2937;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  gap: 30px;
  display: flex;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.container,
.header {
  margin: 20px;
}

.header .logo {
  color: #f9faf8;
  font-weight: bold;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.hero-text .title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.button-text {
  display: flex;
}
button {
  background-color: #3882f6;
  font-size: 18px;
  color: #f9faf8;
  border: none;
  border-radius: 5px;
  padding: 5px;

  flex: 0 1 100px;
}

.placeholder {
  color: #e5e7eb;
  padding: 100px;
  background-color: #8999af;
  align-items: center;
  display: flex;
  margin: 20px;
  flex: 0 1 auto;
  justify-content: center;
}

/* mid */
.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  gap: 40px;
}

.info {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.card-image {
  display: flex;
  gap: 30px;
  text-align: center;
}

.card {
  border: 4px solid blue;
  border-radius: 16px;
  padding: 80px;
  margin-bottom: 10px;
}

/* mid2 */

.mid2 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 90px;
}
.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}
.author {
  font-weight: bold;
  /* text-align: end; */
  align-self: flex-end;
}
/* bottom */
.bottom {
  padding: 60px;
}
.notif {
  display: flex;
  background-color: #3882f6;
  padding: 50px;
  justify-content: space-between;
  border-radius: 16px;
  color: white;
  gap: 20px;
}

.ad1 {
  font-weight: bold;
  font-size: large;
}
.button2 {
  display: flex;
}
.button2 button {
  border: 1px solid #f9faf8;
  flex: 1 0 100px;
}

/* footer */

.footer {
  background-color: #1f2937;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footer-text {
  color: #f9faf8;
  font-size: small;
}
